PORT=3000
NODE_ENV=development
JWT_SECRET="vFiewQa!ocq+0g2Ga@Apw&Fz({,%V.8#"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/visualchat_qr"
# DATABASE_URL="postgresql://visualartadmin:visualArtAdmin6608@visualart-postgres.clkwmuayqklx.sa-east-1.rds.amazonaws.com:5432/visualarterp?schema=public"
FRONTEND_URL="http://localhost:5173"
WHATSAPP_SESSION_NAME="principal"
LOG_LEVEL=info
JWT_EXPIRES_IN="1h"